body {
    margin: 0;
    line-height: 1.5;
    background-color: #F6F6F6;
    color: #05080C;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header {
    border-top: 5px solid #222222;
    padding: 0 100px;
}

article {
    border-bottom: 5px solid #222222;
    padding: 0 100px;
}

h1 {
    text-align: center;
    text-decoration: underline 5px;
}

a {
    text-decoration: none;
    color: #0A9FBA;
}

a:hover {
    color: #05505F;
}

img {
    float: right;
    margin-left: 20px;
    width: 400px;
    border: 1px solid black;
}

th {
    background-color: #222222;
    color: white;
    padding: 10px;
}

td {
    background-color: #eeeeee;
    padding: 10px;
}


span {
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 100;
}

.headline-1 {
    background-color: #A3E4D7;
}

.headline-2 {
    background-color: #FAD7A0;
}

.headline-3 {
    background-color: #D2B4DE;
}

.headline-4 {
    background-color: #F5B7B1;
}

.headline-5 {
    background-color: #F9E79F;
}

.headline-6 {
    background-color: #FFD1E9;
}