/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather {
  font-family: 'Merriweather', serif;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */

.header-nav {
  display: flex;
  height: 64px;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  letter-spacing: 0.5px;

}

.header-logo {
  margin-left: 10px;
  color: #600B0B;

}

.header-menu {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;

}

.menu-item {
  display: flex;
  cursor: pointer;
  height: inherit;
  align-items: center;
}

.menu-text {
  padding: 15px;
}

.menu-text:hover {
  color: #830C0C;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.header-main {
  display: flex;
  width: 100%;
  margin: 0;
  /*background: url('image/coworking.jpeg') center center no-repeat;*/
  background-color: #830C0C;
  background-size: cover;
  min-height: 60%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.header-img {
  margin: 0;
  width: 100%;
  filter: brightness(70%);
  position: relative;

}

.header-main-block {
  display: flex;
  position: absolute;
  background-color: #830C0C;
  top: 60px;
  left: 80px;
}