/*### Colors
Green: #20c063 / RGBA(32,192,99,1)
Gray: #e8e9ea  / RGBA (232,233,234,1)
Dark Text: #3b4144 / RGBA (59,65,68,1)m*/


body {
    margin: 10px;
    height: 100%;
    font-family: sans-serif;
}

/*img {
    height: 100%;
    max-width: 100%;
    background-size: cover;
} */

header {
    display: block;
    height: 150px;
    background-color: white;
}

nav {
    display: flex;
    height: 40%;
    background-color: #32b64c;
    color: white;
}

main {
    display: block;

}

.header-logo {
    display: block;
    margin: 15px;
    margin-right: 15px;
    height: 70%;
}

.header-logo img {
    height: 70%;
}

.trulia-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
    background-color: #e3e4e6;
}

.trulia-grid-item {
    border-radius: 5px;
    display: block;
    flex-direction: column;
    height: 260px;
    background-color: white;
}

.new-box {
    width: 100%;
    overflow: hidden;
}

.trulia-house-image img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 160px;
    position: relative;

}

.trulia-article-icon {
    height: 20px;
    padding: 0 5px 0 0;
}

.header-menu-left {
    display: block;

}

.header-menu-right {
    display: block;
    float: right;
    margin: 0 0 0 auto;
    padding-right: 15px;
}

.header-menu {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul ul {
    display: flex;
}

li {
    margin-left: 5px;
}

h1 {
    margin: 0;
    font-size: 20px;
}



.trulia-house-facts {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trulia-house-price {}

.trulia-house-stats {
    display: flex;
    flex-direction: column;
}