/* Featured and Expanded Item */

.trulia-grid-item {
    cursor: pointer;
    transition: 0.15s ease-in;
}

.trulia-featured-grid-item {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
    min-height: 360px;
}

.trulia-featured-grid-item .trulia-house-image {
    height: 80%
}

.trulia-featured-grid-item .trulia-house-facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 25%;
}

.trulia-featured-grid-item .trulia-house-price {
    padding: 10px 0 10px 0;
}

.trulia-featured-grid-item h1 {
    font-size: 25px;
}

.trulia-featured-grid-item .trulia-house-stats {
    display: flex;
    padding: 20px;
    font-weight: 600;
}